
.nav {
  border: 0px solid;
  display: flex;
  justify-content: center;
}

.nav h1 {
  font-family: sunday mango;
  letter-spacing: 2px;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  animation: slideIn 1s ease both;
}