
.nav {
  border: 0px solid;
  display: flex;
  justify-content: center;

}

.nav h1 {
  font-family: sunday mango;
  letter-spacing: 2px;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  animation: slideIn 2.5s ease both;
}

.dash{
  width: 100%;
  height: 100vh;
  border: 0px solid rgb(255, 0, 0);
  background: linear-gradient(180deg, rgba(0,255,128,1) 0%, rgba(34,152,141,1) 59%);
  display: flex;

  align-items: center;
  flex-direction: column;
}

/*Input styling*/

.todo-input{
  width: 48%;
  height: 35%;
  background-color: rgb(22, 134, 127);
  border-radius: 15px;
  margin-top: 1%;
  border: none;
}

.todo-input[type='text']{
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 2.3px;
  font-size: 20px;
}

.todo-input[type='text']:focus{
  box-shadow: 1px 1px 10px;
  border: 5px;
}

.todo-button {
  width: 7%;
  height: 33%;
  border-radius:5px;
  margin-top: 1%;
  background-color:  rgb(22, 134, 127);
  font-size: 35px;
  color: white;
  padding: 15px;
  transition: color .5s ease;
  display: flex;
  align-items:center;
  justify-content:center;

}

/*Add button styling*/
.todo-button:hover{
  color:  rgb(22, 134, 127);
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px white;
  border: none;
}

.todo-button:active{
  background-color:  rgb(22, 134, 127);
  color: white;
}

.todo-div{
  width: 45%;
  border: 0px solid black;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

/*Output Div Styling*/

.output {
  box-shadow:1px 1px 10px;
  border-radius: 8px;
  width: 40%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.output ul{
  width: 100%;
  height: 100%;
  border: 0px solid;
  margin:0;
  padding:0;
  overflow-y:scroll;
  
}

/*Task output styling*/
.list-div{
  border: 0px solid;
  display: flex;
}

.list-div li {
  color: white;
  font-family: sans-serif;
  width: 100%;
 font-size: 20px;
  list-style-type: none;
  letter-spacing:2px;
  margin: 20px 0px 20px 0px;
  display: flex;
  

}

.checkmark{
  background-color:transparent;
  width: 13%;
  padding: 0;
  border: none;
  margin:0;
}
.checkmark img {
  box-shadow: inset 1px 1px 12px white;
}

.checkmark img:hover {
  transform: scale(108%);
  box-shadow: inset 1px 1px 18px white;
  cursor: pointer;
}
.delete {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 500;
  font-size: 18px;
  margin: 0px 15px 0px 0px;
}

.delete:hover {
  text-shadow: 1px 1px 0px black;
  cursor: pointer;
  transform: scale(108%);
}
/*Clear Button Styling*/

.clear-btn{
  background-color: rgb(22, 134, 127);
  color: white;
  border-radius:5px;
  margin-top: 3.5%;
  margin-bottom: 3%;
  font-size: 25px;
  transition: color .5s ease;
  letter-spacing: 1.3px;
  border: none;
  box-shadow: 1px 1px 5px white;
  font-weight: bolder;
  padding: 5px;
  transition: .2s background-color ease;
}

.clear-btn:hover{
  background-color: white;
  color: rgb(22, 134, 127);
  cursor:pointer;
}
.clear-btn:active{
  color: rgb(172, 78, 98);
  box-shadow: 1px 1px 10px red;
}

/*Completed List div Styling*/

.complete {
  color: green;
  font-family: sunday mango;
  text-shadow:1px 1px 5px white;
  font-size: 35px;
}